<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Annotation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.staticfile.net/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.net/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- 引入jQuery库 -->
</head>
<style>

.sidebar {
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #333;
            padding-top: 20px;
        }

        .sidebar a {
            padding: 10px 20px;
            text-decoration: none;
            font-size: 18px;
            color: #fff;
            display: block;
        }

        .sidebar a:hover {
            background-color: #555;
        }
        body {

            margin: 0;
            padding: 0;
            background: #666;
        }
</style>
<body>
<iframe src="D:\个人所得\基于视觉大模型的医学图像标注平台\平台\mybloger\app01\templates\particle-background.htmlml" frameborder="0" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;"></iframe>



<div class="sidebar">
    <a href="/backtohome"><i class="fas fa-home"></i>返回首页</a></br>
    <a href="/materials"><i class="fas fa-archive"></i>查看未标注的图片</a></br>
    <a href="/ku"><i class="fas fa-robot"></i>查看模型标注的图片</a></br>
    <a href="/tonopredpicture"><i class="fas fa-desktop"></i>查看模型标注原始图片</a><br>
    <a href="/annotated_images_ku"><i class="fas fa-user-friends"></i>查看人工标注的图片</a></br>
    <a href="/self"><i class="fas fa-user-circle"></i>查看个人主页</a></br>
</div>


</br>
<div style="display:flex">

<canvas id="myCanvas" width="1250" height="1000" style="border:1px solid #000000;"></canvas>
    <div style="display:flex">
    <div>
    <div style="margin-left:20px" id="inputcontainer">
        <div class="container" style="margin-left:0px">
            <p><h3 style="color:white">请输入标注文本</h3></p>
        </div>

    </div>
    
        <button style="margin-left:20px"  onclick="sendjsondata()" class="btn btn-success"> <i class="fas fa-save"></i> 保存</button>
    </div>
    <div style="margin-left:0px;text-align: center"><br>
        <button onclick="flag0()" class="btn btn-info" style="margin-left:0px;width:100px"><i class="far fa-square"></i> 矩形</button></br></br>
        <button onclick="flag1()" class="btn btn-info" style="margin-left:0px;width:100px"><i class="far fa-star"></i> 多边形</button></br></br>
        <button onclick="flag2()" class="btn btn-info" style="margin-left:0px;width:100px"><i class="far fa-circle"></i> 圆形</button></br></br>
        <button onclick="flag3()" class="btn btn-info" style="margin-left:0px;width:100px"><i class="fas fa-pencil-alt"></i> 铅笔画</button></br></br>

        <button onclick="clearannotation()" class="btn btn-danger" ><i class="fas fa-trash-alt"></i> 清除标注</button>
    </div>
    </div>


</div>
</br>

</body>

<script>
var canvas = document.getElementById('myCanvas');
var ctx = canvas.getContext('2d');
var rectangles = [];
var isDragging = false;
var currentRect = { startX: 0, startY: 0, endX: 0, endY: 0 ,text:"",image_name:""};
var points=[];
var flag=0;    //0 rect  1 polygon
var polygon=[];
var circle=[];
var currentCircle={X:0,Y:0,R:0,text:"",image_name:""};
var pencil=[];
var pencil_points=[];


// 获取要插入输入框的容器
const container = document.getElementById('inputcontainer');

// 为数组中的每个元素创建一个输入框并添加到容器中
function addinput(){
    const input = document.createElement('input');
    input.type = 'text';
    container.appendChild(input);
    container.appendChild(document.createElement('br')); // 添加换行
    container.appendChild(document.createElement('br')); // 添加换行
}


var img= new Image();
img.src="{% static 'images/001.jpg' %}"
scaledrawimage();



window.onload = function() {
    // 页面加载完成后的代码

    scaledrawimage();
};



function flag0(){
    flag=0;
}


function flag1(){
    flag=1;

}

function flag2(){
    flag=2;

}

function flag3(){
    flag=3;

}


function sendjsondata(){
    var inputs = document.getElementsByTagName('input');
    if(flag==0){
        for (let i=0;i<inputs.length;i++){
            rectangles[i].text=inputs[i].value;
            rectangles[i].image_name="{{images}}";
        }
        $.ajax({
                    url:'/rectjsondata',
                    type:'POST',
                    contentType:'application/json',
                    data:JSON.stringify(rectangles),
                    success:function(){
                        alert('成功保存');
                        window.location.href = '/annotated_images_ku';
                    }
        })
    }
    if(flag==1){
        for (let i=0;i<inputs.length;i++){
            polygon[i].text=inputs[i].value;
        }
        $.ajax({
                    url:'/polygonjsondata',
                    type:'POST',
                    contentType:'application/json',
                    data:JSON.stringify(polygon),
                    success:function(){
                        alert('成功保存');
                        window.location.href = '/annotated_images_ku';
                    }
        })
    }
    if(flag==2){
        for (let i=0;i<inputs.length;i++){
            circle[i].text=inputs[i].value;
            circle[i].image_name="{{images}}";
        }
        $.ajax({
                    url:'/circlejsondata',
                    type:'POST',
                    contentType:'application/json',
                    data:JSON.stringify(circle),
                    success:function(){
                        alert('成功保存');
                        window.location.href = '/annotated_images_ku';
                    }
        })
    }

    if(flag==3){
        for (let i=0;i<inputs.length;i++){
            pencil[i].text=inputs[i].value;
        }
        $.ajax({
                    url:'/penciljsondata',
                    type:'POST',
                    contentType:'application/json',
                    data:JSON.stringify(pencil),
                    success:function(){
                        alert('成功保存');
                        window.location.href = '/annotated_images_ku';
                    }
        })

    }
};


canvas.addEventListener('mousedown', function(e) {
    isDragging = true;
    if(flag==0){
        currentRect.startX = e.offsetX;
        currentRect.startY = e.offsetY;
    }
    if(flag==1){
        var currentpoints={X:0,Y:0};
        currentpoints.X=e.offsetX;
        currentpoints.Y=e.offsetY;
        points.push(currentpoints);
    }
    if(flag==2){
        isDragging = true;
        var rect = canvas.getBoundingClientRect();
        currentCircle.X = event.clientX - rect.left;
        currentCircle.Y = event.clientY - rect.top;

    }
    if(flag==3){
        isDragging = true;
        // 记录鼠标按下的位置
        var startX = e.offsetX;
        var startY = e.offsetY;

        // 绘制路径起始点
        ctx.beginPath();
        ctx.moveTo(startX, startY);
        pencil_points.push({ x:startX,y:startY });

    }
});

canvas.addEventListener('mousemove', function(e) {
    if (isDragging) {
        if(flag==0){
            currentRect.endX = e.offsetX;
            currentRect.endY = e.offsetY;
            draw();

        }
        if(flag==1){
            //draw();


        }
        if(flag==2){
            var rect = canvas.getBoundingClientRect();
            currentCircle.R = Math.sqrt(Math.pow(event.clientX - rect.left - currentCircle.X, 2) + Math.pow(event.clientY - rect.top - currentCircle.Y, 2));
            redrawCanvas();
            drawCircle(currentCircle.X, currentCircle.Y, currentCircle.R);


        }
        if(flag==3){
            var x = e.offsetX;
            var y = e.offsetY;

            // 绘制路径
            ctx.lineTo(x, y);
            ctx.stroke();

            // 将绘制的点保存到笔画轨迹数据中
            pencil_points.push({ x: x, y: y });

        }


    }
});

canvas.addEventListener('mouseup', function(e) {
    isDragging = false;
    if(flag==0){
        // 当鼠标释放时，将当前矩形添加到矩形数组中
        rectangles.push(currentRect);
        currentRect = { startX: 0, startY: 0, endX: 0, endY: 0 }; // 重置当前矩形对象
        draw();
        addinput();
    }
    if(flag==1){
        var currentpoints={X:0,Y:0};
        currentpoints.X=e.offsetX;
        currentpoints.Y=e.offsetY;
        points.push(currentpoints);
        ctx.beginPath();
        ctx.moveTo(points[0].X, points[0].Y);
        for (var i = 1; i < points.length; i++) {
            ctx.lineTo(points[i].X, points[i].Y);
        }

        ctx.lineWidth = 2;
        ctx.strokeStyle = '#000000';
        ctx.stroke();
    }
    if(flag==2){
            isDragging = false;
            // 将当前圆添加到数组中
            circle.push({
            X: currentCircle.X,
            Y: currentCircle.Y,
            R: currentCircle.R,
            text: currentCircle.text,
            image_name: currentCircle.image_name
            });
             // 重置当前圆
            currentCircle = { X: 0, Y: 0, R: 0, text: "", image_name: "" };
            redrawCanvas();
            addinput();

    }
    if(flag==3){
        ctx.beginPath();
        ctx.moveTo(pencil_points[0].x, pencil_points[0].y);
        for (var i = 1; i < pencil_points.length; i++) {
            ctx.lineTo(pencil_points[i].x, pencil_points[i].y);
        }
        ctx.closePath();
        ctx.lineWidth = 2;
        ctx.strokeStyle = '#000000';
        ctx.stroke();
        var temp=[];
        for(var i=0;i<pencil_points.length;i++){
            temp.push({ x:pencil_points[i].x,y:pencil_points[i].y} );
        }
        pencil.push({ points:temp ,text:'' ,image_name:'{{images}}' });
        addinput();
        pencil_points.length=0;
    }

});

canvas.addEventListener('dblclick',function(e){
    if(flag==1){
        draw();
        addinput();
        var currentpolygon={points:[],text:"",image_name:""};
        currentpolygon.points=points;
        currentpolygon.image_name='{{images}}';
        polygon.push(currentpolygon);
        console.log(polygon)
        points=[];
    }

});


function redrawCanvas() {
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      scaledrawimage();
      // 绘制之前保存的所有圆
      circle.forEach(function(circleData) {
        drawCircle(circleData.X, circleData.Y, circleData.R);
      });
}



function drawCircle(x, y, r) {
      ctx.beginPath();
      ctx.arc(x, y, r, 0, 2 * Math.PI);
      ctx.stroke();
}



function draw() {
    if(flag==0){
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        scaledrawimage();
        rectangles.forEach(function(rect) {
            ctx.beginPath();
            ctx.rect(rect.startX, rect.startY, rect.endX - rect.startX, rect.endY - rect.startY);
            ctx.strokeStyle = 'black';
            ctx.stroke();
        });

        // 如果正在拖动，也绘制当前矩形（半透明）
        if (isDragging) {
            ctx.beginPath();
            ctx.rect(Math.min(currentRect.startX,currentRect.endX), Math.min(currentRect.startY,currentRect.endY), Math.abs(currentRect.endX - currentRect.startX), Math.abs(currentRect.endY - currentRect.startY));
            ctx.strokeStyle = 'black';
            ctx.stroke();
        }


    }
    if(flag==1){
        ctx.beginPath();
        ctx.moveTo(points[0].X, points[0].Y);
        for (var i = 1; i < points.length; i++) {
            ctx.lineTo(points[i].X, points[i].Y);
        }

        ctx.closePath();
        ctx.lineWidth = 2;
        ctx.strokeStyle = '#000000';
        ctx.stroke();

    }

}

function clearannotation(){
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    rectangles.length=0;
    while (container.firstChild) {
        container.removeChild(container.firstChild);
    }
    container.innerHTML="请输入标注文本</br>";
    points.length=0;
    scaledrawimage();
}


function scaledrawimage(){
         var scale = Math.min(canvas.width / img.width, canvas.height / img.height);
            // 计算绘制的宽度和高度
            var drawWidth = img.width * scale;
            var drawHeight = img.height * scale;
            // 计算绘制的起始坐标使图片居中
            var x = (canvas.width - drawWidth) / 2;
            var y = (canvas.height - drawHeight) / 2;
            // 绘制图片
            if(img.width>img.height){
                ctx.drawImage(img, x+150, y, drawWidth, drawHeight);
            }
            else{
                ctx.drawImage(img, x, y, drawWidth, drawHeight);
            }
    }



</script>


</html>

