<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>医学平台标注</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdn.staticfile.net/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.staticfile.net/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- 引入jQuery库 -->
  <style>
    /* 侧边栏样式 */
    .sidebar {
      background-color: #f8f9fa;
      height: 100vh;
      width: 280px;
      transition: width 0.3s ease;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 10;
    }

    /* 侧边栏链接样式 */
    .sidebar a {
      color: #333;
      transition: background-color 0.3s ease, color 0.3s ease;
      display: block;
      padding: 15px 20px;
      /* 增加上下和左右的内边距，以扩大间距 */
      margin-bottom: 5px;
      /* 增加每个链接之间的下边距 */
    }

    .sidebar a:hover {
      background-color: #e9ecef;
      color: #007bff;
    }

    /* 激活的链接样式 */
    .sidebar a.active {
      background-color: #007bff;
      color: #fff;
    }

    /* 头像和用户名容器样式 */
    .user-info {
      display: flex;
      align-items: center;
      padding: 10px;
      transition: background-color 0.3s ease;
    }

    .user-info:hover {
      background-color: #e9ecef;
    }

    /* 头像样式 */
    .user-info img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      transition: transform 0.3s ease;
    }

    .user-info:hover img {
      transform: scale(1.1);
    }

    /* 下拉菜单样式 */
    .dropdown-menu {
      animation: dropdownAnimation 0.3s ease;
    }

    @keyframes dropdownAnimation {
      0% {
        opacity: 0;
        transform: translateY(-10px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  </style>
  <script async defer
    src="http://localhost:8080/api/application/embed?protocol=http&host=localhost:8080&token=21214db98103b71c">
    </script>
</head>

<body>
  <iframe src="D:\个人所得\基于视觉大模型的医学图像标注平台\平台\mybloger\app01\templates\particle-background.htmlml" frameborder="0"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;"></iframe>
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light sidebar" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'app01:home' %}" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#home"></use>
          </svg>
          首页
        </a>
      </li>
      <li>
        <a href="{% url 'app01:upload_image' %}" class="nav-link link-dark">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#speedometer2"></use>
          </svg>
          上传图片或文件夹
        </a>
      </li>
      <li>
        <a href="{% url 'app01:image_list' %}" class="nav-link link-dark">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#table"></use>
          </svg>
          未标注图片
        </a>
      </li>
      <li>
        <a href="{% url 'app01:image_is_labeled' %}" class="nav-link link-dark">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#grid"></use>
          </svg>
          人工标注图片
        </a>
      </li>
      <li>
        <a href="{% url 'app01:image_is_ailabeled' %}" class="nav-link link-dark">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#people-circle"></use>
          </svg>
          模型标注图片
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle user-info"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>{{ user.username }}</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="{% url 'app01:profile' %}">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a href="{% url 'author:logout' %}" class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
  <!-- <div class="button-container" style="display:flex;justify-content:flex-start;">
    <div style="display:flex;">
      <button class="not-frame file-button">文件</button>
      <button class="not-frame">工具</button>
      <button class="not-frame auto-button">自动标注</button>
      <button class="not-frame transfer-button">云端</button>
      <button class="not-frame">编辑</button>
      <button class="not-frame">窗口</button>
      <button class="not-frame">关闭</button>
      <button class="not-frame">帮助</button>
      <button class="not-frame">视图</button>
      <button class="not-frame">测量</button>
    </div>
  </div> -->

  </br>
  <div style="display:flex;background-color: snow;">

    <canvas id="myCanvas" width="1000" height="900"
      style="margin-left:18%;margin-top: 0%;margin-bottom: 10%;border:1px solid white;"></canvas>
    <div style="display:flex">
      <div>
        <div style="margin-left:20px" id="inputcontainer">
          <div class="container" style="margin-left:0px">
            <p>
            <h4 style="color:black">请输入标注文本</h4>
            </p>
          </div>

        </div>
        <form action="{% url 'app01:save_annotation1' image.id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <button style="margin-left:20px;margin-top:0px" onclick="sendjsondata()" class="btn btn-success"> <i
              class="fas fa-save"></i> 保存</button>
        </form>
      </div>

      <div style="margin-left:0px"><br>
        <button onclick="flag0()" class="btn btn-info" style="margin-left:0px;width:100px"><i class="far fa-square"></i>
          矩形</button></br></br>
        <button onclick="flag1()" class="btn btn-info" style="margin-left:0px;width:100px"><i class="far fa-star"></i>
          多边形</button></br></br>
        <button onclick="flag2()" class="btn btn-info" style="margin-left:0px;width:100px"><i class="far fa-circle"></i>
          圆形</button></br></br>
        <button onclick="flag3()" class="btn btn-info" style="margin-left:0px;width:100px"><i
            class="fas fa-pencil-alt"></i> 铅笔画</button></br></br>

        <button onclick="clearannotation()" class="btn btn-danger"><i class="fas fa-trash-alt"></i> 清除标注</button>
      </div>

    </div>


  </div>
  </br>



  <script>
    
    var canvas = document.getElementById('myCanvas');
    var ctx = canvas.getContext('2d');
    var rectangles = [
            // 默认数据
            {
                text: '默认数据',
                image_name: "{{image.name}}",
                startx: 0,
                starty: 0,
                endx: 100,
                endy: 100,
                label_id: 1,
                
            } 
        ];
    var isDragging = false;
    var currentRect = { startX: 0, startY: 0, endX: 0, endY: 0, text: "", image_name: "" };
    var points = [];
    var flag = 0;    //0 rect  1 polygon
    var polygon = [];
    var circle = [];
    var currentCircle = { X: 0, Y: 0, R: 0, text: "", image_name: "" };
    var pencil = [];
    var pencil_points = [];


    // 获取要插入输入框的容器
    const container = document.getElementById('inputcontainer');

    // 为数组中的每个元素创建一个输入框并添加到容器中
    function addinput() {
      const input = document.createElement('input');
      input.type = 'text';
      container.appendChild(input);
      container.appendChild(document.createElement('br')); // 添加换行
      container.appendChild(document.createElement('br')); // 添加换行
    }


    var img = new Image();
    img.src = "{{image.image.url}}";
    scaledrawimage();



    window.onload = function () {
      // 页面加载完成后的代码

      scaledrawimage();
    };



    function flag0() {
      flag = 0;
    }


    function flag1() {
      flag = 1;

    }

    function flag2() {
      flag = 2;

    }

    function flag3() {
      flag = 3;

    }

    
    function sendjsondata() {
      var inputs = document.getElementsByTagName('input');
      if (flag == 0) {
        for (let i = 0; i < inputs.length; i++) {
                    // 使用 push 方法添加元素，避免数组越界
                    rectangles.push({
                        text: inputs[i].value,
                        image_name: "{{image.name}}"
                    });
                }
        $.ajax({
          url: "{% url 'annotation:rectjsondata' %}",
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(rectangles),
          headers: {
            'X-CSRFToken': '{{ csrf_token }}' // 确保 csrf_token 能正确传递
          },
          success: function () {
            alert('成功保存');
          },
          error: function (xhr, status, error) {
            console.error('请求失败:', status, error);
            alert('保存失败，请检查网络连接或联系管理员');
            console.log(xhr.responseText);
          }
        })
      }
      if (flag == 1) {
        for (let i = 0; i < inputs.length; i++) {
          polygon[i].text = inputs[i].value;
        }
        $.ajax({
          url: '/polygonjsondata',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(polygon),
          headers: {
            'X-CSRFToken': '{{ csrf_token }}' // 确保 csrf_token 能正确传递
          },
          success: function () {
            alert('成功保存');
            window.location.href = '/annotated_images_ku';
          }
        })
      }
      if (flag == 2) {
        for (let i = 0; i < inputs.length; i++) {
          circle[i].text = inputs[i].value;
          circle[i].image_name = "{{images}}";
        }
        $.ajax({
          url: '/circlejsondata',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(circle),
          headers: {
            'X-CSRFToken': '{{ csrf_token }}' // 确保 csrf_token 能正确传递
          },
          success: function () {
            alert('成功保存');
            window.location.href = '/annotated_images_ku';
          }
        })
      }

      if (flag == 3) {
        for (let i = 0; i < inputs.length; i++) {
          pencil[i].text = inputs[i].value;
        }
        $.ajax({
          url: '/penciljsondata',
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(pencil),
          headers: {
            'X-CSRFToken': '{{ csrf_token }}' // 确保 csrf_token 能正确传递
          },
          success: function () {
            alert('成功保存');
            window.location.href = '/annotated_images_ku';
          }
        })

      }
    };


    canvas.addEventListener('mousedown', function (e) {
      isDragging = true;
      if (flag == 0) {
        currentRect.startX = e.offsetX;
        currentRect.startY = e.offsetY;
      }
      if (flag == 1) {
        var currentpoints = { X: 0, Y: 0 };
        currentpoints.X = e.offsetX;
        currentpoints.Y = e.offsetY;
        points.push(currentpoints);
      }
      if (flag == 2) {
        isDragging = true;
        var rect = canvas.getBoundingClientRect();
        currentCircle.X = event.clientX - rect.left;
        currentCircle.Y = event.clientY - rect.top;

      }
      if (flag == 3) {
        isDragging = true;
        // 记录鼠标按下的位置
        var startX = e.offsetX;
        var startY = e.offsetY;

        // 绘制路径起始点
        ctx.beginPath();
        ctx.moveTo(startX, startY);
        pencil_points.push({ x: startX, y: startY });

      }
    });

    canvas.addEventListener('mousemove', function (e) {
      if (isDragging) {
        if (flag == 0) {
          currentRect.endX = e.offsetX;
          currentRect.endY = e.offsetY;
          draw();

        }
        if (flag == 1) {
          //draw();


        }
        if (flag == 2) {
          var rect = canvas.getBoundingClientRect();
          currentCircle.R = Math.sqrt(Math.pow(event.clientX - rect.left - currentCircle.X, 2) + Math.pow(event.clientY - rect.top - currentCircle.Y, 2));
          redrawCanvas();
          drawCircle(currentCircle.X, currentCircle.Y, currentCircle.R);


        }
        if (flag == 3) {
          var x = e.offsetX;
          var y = e.offsetY;

          // 绘制路径
          ctx.lineTo(x, y);
          ctx.stroke();

          // 将绘制的点保存到笔画轨迹数据中
          pencil_points.push({ x: x, y: y });

        }


      }
    });

    canvas.addEventListener('mouseup', function (e) {
      isDragging = false;
      if (flag == 0) {
        // 当鼠标释放时，将当前矩形添加到矩形数组中
        rectangles.push(currentRect);
        currentRect = { startX: 0, startY: 0, endX: 0, endY: 0 }; // 重置当前矩形对象
        draw();
        addinput();
      }
      if (flag == 1) {
        var currentpoints = { X: 0, Y: 0 };
        currentpoints.X = e.offsetX;
        currentpoints.Y = e.offsetY;
        points.push(currentpoints);
        ctx.beginPath();
        ctx.moveTo(points[0].X, points[0].Y);
        for (var i = 1; i < points.length; i++) {
          ctx.lineTo(points[i].X, points[i].Y);
        }

        ctx.lineWidth = 2;
        ctx.strokeStyle = '#000000';
        ctx.stroke();
      }
      if (flag == 2) {
        isDragging = false;
        // 将当前圆添加到数组中
        circle.push({
          X: currentCircle.X,
          Y: currentCircle.Y,
          R: currentCircle.R,
          text: currentCircle.text,
          image_name: currentCircle.image_name
        });
        // 重置当前圆
        currentCircle = { X: 0, Y: 0, R: 0, text: "", image_name: "" };
        redrawCanvas();
        addinput();

      }
      if (flag == 3) {
        ctx.beginPath();
        ctx.moveTo(pencil_points[0].x, pencil_points[0].y);
        for (var i = 1; i < pencil_points.length; i++) {
          ctx.lineTo(pencil_points[i].x, pencil_points[i].y);
        }
        ctx.closePath();
        ctx.lineWidth = 2;
        ctx.strokeStyle = '#000000';
        ctx.stroke();
        var temp = [];
        for (var i = 0; i < pencil_points.length; i++) {
          temp.push({ x: pencil_points[i].x, y: pencil_points[i].y });
        }
        pencil.push({ points: temp, text: '', image_name: '{{images}}' });
        addinput();
        pencil_points.length = 0;
      }

    });

    canvas.addEventListener('dblclick', function (e) {
      if (flag == 1) {
        draw();
        addinput();
        var currentpolygon = { points: [], text: "", image_name: "" };
        currentpolygon.points = points;
        currentpolygon.image_name = '{{images}}';
        polygon.push(currentpolygon);
        console.log(polygon)
        points = [];
      }

    });


    function redrawCanvas() {
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      scaledrawimage();
      // 绘制之前保存的所有圆
      circle.forEach(function (circleData) {
        drawCircle(circleData.X, circleData.Y, circleData.R);
      });
    }



    function drawCircle(x, y, r) {
      ctx.beginPath();
      ctx.arc(x, y, r, 0, 2 * Math.PI);
      ctx.stroke();
    }



    function draw() {
      if (flag == 0) {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        scaledrawimage();
        rectangles.forEach(function (rect) {
          ctx.beginPath();
          ctx.rect(rect.startX, rect.startY, rect.endX - rect.startX, rect.endY - rect.startY);
          ctx.strokeStyle = 'black';
          ctx.stroke();
        });

        // 如果正在拖动，也绘制当前矩形（半透明）
        if (isDragging) {
          ctx.beginPath();
          ctx.rect(Math.min(currentRect.startX, currentRect.endX), Math.min(currentRect.startY, currentRect.endY), Math.abs(currentRect.endX - currentRect.startX), Math.abs(currentRect.endY - currentRect.startY));
          ctx.strokeStyle = 'black';
          ctx.stroke();
        }


      }
      if (flag == 1) {
        ctx.beginPath();
        ctx.moveTo(points[0].X, points[0].Y);
        for (var i = 1; i < points.length; i++) {
          ctx.lineTo(points[i].X, points[i].Y);
        }

        ctx.closePath();
        ctx.lineWidth = 2;
        ctx.strokeStyle = '#000000';
        ctx.stroke();

      }

    }

    function clearannotation() {
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      rectangles.length = 0;
      while (container.firstChild) {
        container.removeChild(container.firstChild);
      }
      container.innerHTML = "<p><h4>请输入标注文本</h4></p>";
      points.length = 0;
      scaledrawimage();
    }


    function scaledrawimage() {
      var scale = Math.min(canvas.width / img.width, canvas.height / img.height);
      // 计算绘制的宽度和高度
      var drawWidth = img.width * scale;
      var drawHeight = img.height * scale;
      // 计算绘制的起始坐标使图片居中
      var x = (canvas.width - drawWidth) / 2;
      var y = (canvas.height - drawHeight) / 2;
      // 绘制图片
      if (img.width > img.height) {
        ctx.drawImage(img, x + 150, y, drawWidth, drawHeight);
      }
      else {
        ctx.drawImage(img, x, y, drawWidth, drawHeight);
      }
    }



  </script>


</html>