<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <h2>图片列表</h2>
    <ul>
        {% for image in images %}
            <li>
                <h3>{{ image.name }}</h3>
                <img src="{{ image.image.url }}" style="width: 600px; height: 400px;" alt="{{ image.name }}">
            </li>
        {% endfor %}
    </ul>
    <h1>上传图片文件夹</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form2.as_p }}
        <input type="submit" value="上传">
    </form>
    <br>
    
</body>

</html>