{% extends 'html/base.html' %}

{% block title %} Register {% endblock %}

{% block head %}
    <script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/register.js' %}"></script>
{% endblock %}

{% block main%}
  <h1>Register</h1>
  <div style="max-width: 330px;" class="mx-auto">
    <h1>Register</h1>
    <form action="" method="post">
      {% csrf_token %}                          
      <div class="mb-3">
        <label for="username" class="form-label">user_name</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="user_name" required="">
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">email box</label>
        <input type="email" class="form-control" name="email" id="username" placeholder="Enter email" required="">
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">captcha</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="captcha" id="captcha" placeholder="Enter captcha" required="">
          <button type="button" class="btn btn-outline-secondary" id="get_check_number">Get captcha</button>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Enter password" required="">
      </div>
      <div class="mb-3 ">
        <button type="submit" class="btn btn-primary w-100">Register recently</button>
      </div>
    </form>
  </div>
{% endblock %}
